coco

detr/.nfs*
detr/*.ipynb
detr/*.pyc
detr/.dumbo.json
detr/.DS_Store
detr/.*.swp
detr/*.pth
detr/**/__pycache__/**
detr/.ipynb_checkpoints/
detr/datasets/data/
detr/experiment-*
detr/*.tmp
detr/*.pkl
detr/**/.mypy_cache/*
detr/.mypy_cache/*
detr/not_tracked_dir/

.vscode
